@{
    ViewData["Title"] = "Wallet Payment";
}

<div class="text-center my-5">
    <h2 class="text-success fw-bold"><i class="bi bi-wallet2"></i> Digital Wallet Payment</h2>
    <p class="text-muted">Pay securely using eSewa or Khalti.</p>

    <a href="https://esewa.com.np/#/home" target="_blank" class="btn btn-success me-2">
        Pay with eSewa
    </a>
    <a href="https://khalti.com/" target="_blank" class="btn btn-primary">
        Pay with Khalti
    </a>
</div>
